%report
  %table.listing{:summary => @title}
    %thead
      %tr
        %th Code
        %th Species Name
        %th Scientific Name
      %tbody
      - row = 0
      - @species_list.each do |k, v|
        %tr{:class => cycle}
          %td= k
          %td= v 
