-# index.haml - ListController default view
%div#report
  %table.listing{:summary => @title}
    %thead
      %tr
        - @headings.each do |h|
          %th=h
    %tbody
      - @sightings.each do |s|
        %tr{:class => cycle}
          %td= s.bto_code
          %td.left= s.bird.name
          %td= s.first_date
          %td= s.user_id
