-# index.hml - ListController default view
%report
  %table.listing{:summary => @title}
    %thead
      %tr
        %th Code
        %th Species Name
        %th Scientific Name
      %tbody
      - Species.order(:species_name).each do |s|
        %tr{:class => cycle}
          %td= s.bto_code
          %td= s.species_name
          %td= s.scientific_name

