-# index.haml - ListController default view
-# - Species.filter(:user_id => 'NG').order(:name).each do |s|
%div#report
  %table.listing{:summary => @title}
    %thead
      %tr
        - @headings.each do |h|
          %th=h
    %tbody
      - @sightings.each do |s|
        %tr{:class => cycle}
          %td= s.bto_code
          %td= s.bird.name
          %td= s.first_date
          %td
            %a{:id=>'edit',
              :href => ListController.route(:edit, :bto_code => s.bto_code)} Edit

