%a{:href => MainController.route('/')} Home
%br
%br
%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      %th Description
      %th Link
  %tbody
    - @graphs.each do |k,h|
      %tr{:class => cycle}
        %td.left= h['desc']
        %td.left
          %a{:href => route(:show, :id=> k)} View
