%a{:href => MainController.route('/')} Home
%br
%br
%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      %th Link
      %th Description
  %tbody
    - @graphs.each do |k,v|
      %tr{:class => cycle}
        %td.left
          %a{:href => "show/#{k}"}
            =v['name']
        %td.left= v['desc']
