@import url("reset.css");
/* General */
html {
  background: #f4f7f3;
}

body {
  font-family: "Lucida Grande", "Geneva", "Verdana", "Arial", "Bitstream Vera Sans", sans-serif;
  font-size: 62.5%;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: -0.05em;
  margin: 28px 0 0.25em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

/* Layout Wrapper */
#wrapper {
  font-size: 1.3em;
  width: 60em;
  max-width: 95%;
  margin: 1em auto;
  text-align: left;
  background: white;
  border: 1px solid #8c8296;
}

/* Layout Content/Header */
#content, #header-text {
  float: right;
  width: 78%;
  max-width: 78%;
}

#header {
  height: 133px;
  padding: 0.75em 0 0.75em 1em;
}
#header img {
  height: 133px;
  width: 160px;
  float: left;
}

#header-text {
  margin-top: 1em;
}
#header-text h1 {
  float: left;
  font-size: 2.2em;
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0;
}
#header-text p.right {
  float: right;
  margin-top: 13px;
  height: 2.2em;
  font-size: 0.9em;
  color: #88837c;
  padding-right: 1em;
}

#content-inner {
  padding: 0px 15px 0 15px;
}

/* Layout Navigation */
#navigation {
  float: left;
  width: 19%;
  max-width: 19%;
  margin: 0 0em 0 1em;
}

/* Layout Footer */
#footer {
  clear: both;
  padding: 10px 15px 10px 15px;
  height: 5em;
  font-size: 0.75em;
  color: #88837c;
}
#footer p.left {
  position: absolute;
}
#footer p.right {
  float: right;
}

#navigation {
  background-color: #f4f7f3;
  border: 1px solid #58545c;
  font-weight: normal;
}
#navigation ul {
  list-style: none;
  margin: 0.4em;
  padding: 0;
}
#navigation ul ul {
  margin: 0 0 0 1em;
}
#navigation a {
  border-bottom: none;
}

a:link {
  color: #290d45;
}
a:visited {
  color: #2f5a11;
}

#navigation a:link, #navigation a:visited {
  text-decoration: none;
}
#navigation a:link:hover, #navigation a:visited:hover {
  text-decoration: underline;
}

#textnote h3 {
  margin-top: 0;
}
#textnote p {
  margin: 1em 0 1em 0;
}
#textnote ul li {
  margin: 0.5em 0 0.5em 0;
}

hr {
  color: #58545c;
  background-color: #8c8296;
  height: 1px;
  border-width: 0;
}

p.reportnote {
  font-size: 0.9em;
  color: #88837c;
}

dl.whatsnew {
  margin: 1em 0;
  padding: 0;
}
dl.whatsnew dt {
  position: relative;
  left: 0;
  top: 1.2em;
  width: 6em;
  font-weight: bold;
  white-space: nowrap;
}
dl.whatsnew dd {
  margin: 0 0 0 7em;
  padding: 0 0 0.5em 0.5em;
}
