/* Forms */
form {
  margin-left: 0em;
  margin-bottom: 2em;
  min-width: 45em;
  border: 1px solid #cccccc;
  float: left;
  width: 75%; }
  form legend {
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
    padding: 0 0.25em; }
  form fieldset {
    border: 1px solid #d7d7d7;
    margin: 2em 12pt;
    padding: 1em; }
  form label {
    display: block;
    font-weight: normal;
    float: left;
    clear: left;
    width: 9em;
    text-align: right;
    margin-right: 1em;
    padding-right: 1em;
    line-height: 1.8em;
    white-space: nowrap; }
  form input {
    display: block;
    float: left;
    margin: 0 0 0.5em 0; }
    form input button {
      width: auto; }
  form br {
    clear: both; }

/* label.label_right { */
/*     clear: left; */
/*     float:right; */
/* } */
/* fieldset { border: 1px solid #d7d7d7; padding: .5em; margin: 0 } */
/* fieldset.iefix { background: transparent; border: none; padding: 0; margin: 0 } */
/* * html fieldset.iefix { width: 98% } */
/* fieldset.iefix p { margin: 0 } */
input, select {
  vertical-align: middle; }

input[type=button], input[type=submit], input[type=reset] {
  background: #eeeeee;
  color: #222222;
  border: 1px outset #cccccc;
  padding: 0.1em 0.5em; }

input[type=text], input[type=radio], input[type=button] {
  margin: 0 0.5em 0.5em 0;
  display: block;
  float: left; }

input[type=button] {
  margin-right: 1em; }
input[type=text] {
  width: 8em; }

input[type=radio] {
  margin: 0.45em; }

option {
  border-bottom: 1px dotted #d7d7d7; }

select {
  margin: 0 0.5em 0.5em 0;
  display: block;
  float: left; }

p {
  padding: 3em; }

/* input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover { */
/*  background: #ccb; */
/* } */
/* input[type=button][disabled], input[type=submit][disabled], */
/* input[type=reset][disabled] { */
/*  background: #f6f6f6; */
/*  border-style: solid; */
/*  color: #999; */
/* } */
/* input[type=text], input.textwidget, textarea { border: 1px solid #d7d7d7 } */
/* input[type=text], input.textwidget { padding: .25em .5em } */
/* input[type=text]:focus, input.textwidget:focus, textarea:focus { */
/*  border: 1px solid #886; */
/* } */
/* label.disabled { color: #d7d7d7 } */
/* .buttons { margin: .5em .5em .5em 0 } */
/* .buttons form, .buttons form div { display: inline } */
/* .buttons input { margin: 1em .5em .1em 0 } */
/* .inlinebuttons input { */
/*  font-size: 70%; */
/*  border-width: 1px; */
/*  border-style: dotted; */
/*  margin: 0; */
/*  padding: 0.1em; */
/*  background: none; */
/* } */
