/* -*- mode:css -*- */

/* Link styles */
:link, :visited {
 text-decoration: none;
 color: #b00;
 border-bottom: 1px dotted #bbb;
}
:link:hover, :visited:hover {
 background-color: #eee;
 color: #555;
}

.wikipage h1, .wikipage h2, .wikipage h3 {
  margin-left: 0;
}

div#content.wiki {
  margin: 0 0 0 16em;
}

/* .wikipage { */
/*   padding-left: 0; */
/* } */

/* .wikipage #searchable > p:first-child { */
/*   margin: 0; */
/* } */

/* #breadcrumb p { */
/*   margin: 0.5em 0; */
/* } */

#navigationMenu {
  position: relative;
  float: left;
  width: 15em;
  margin: 0 0 0 -16em;
  white-space: nowrap;
}

#navigationMenu, .tocContainer ol {
  background-color: #FFFEED;
  border: 1px solid #999;
}

#navigationMenu ul {
  list-style: none;
  margin: 0.5em;
  padding: 0;
}

#navigationMenu ul ul {
  margin: 0 0 0 1em;
}

#navigationMenu a, .tocContainer ol a {
  border-bottom: none;
}

a, a:link, a:visited, :link, :visited {
  color: #D32;
  border-bottom: 1px solid #369;
}

a:hover, a:visited:hover, :link:hover, :visited:hover,
#navigationMenu a:hover, #navigationMenu a:visited:hover {
  color: #369;
  background-color: transparent;
  border-bottom: 1px solid #D32;
}

/* .tocContainer p { */
/*   margin: 0; */
/*   padding: 0; */
/* }  */

/* .tocContainer ol { */
/*   list-style: none; */
/*   width: 25%; */
/*   float: right; */
/*   margin: 0 0 0 1em; */
/*   padding: 0.5em; */
/*   font-size: 85%; */
/*   position: relative; */
/* } */

/* .tocContainer ol ol { */
/*   float: none; */
/*   width: auto; */
/*   margin: 0; */
/*   padding: 0; */
/*   border: none; */
/*   background: transparent; */
/*   position: static; */
/*   font-size: inherit; */
/* } */

/* .tocContainer li { */
/*   margin: 0 0 1em 0; */
/*   padding: 0; */
/* } */

/* .tocContainer li li { */
/*   margin: 0.5em 0 0 1em; */
/* } */

/* #footer .left { */
/*   display: none; */
/* } */
