table.listing {
  border-bottom: 1px solid #b3aabb;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table.listing caption {
  background: #b3aabb;
  text-align: center;
  border: 1px solid #ded0bf;
  border-bottom-color: #8c8296;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 0.5em;
  vertical-align: bottom;
}
table.listing th {
  text-align: center;
  padding: 0 1em 0.1em 0;
  font-size: 12px;
}
table.listing thead {
  background: #eae0d3;
}
table.listing thead th {
  border: 1px solid #ded0bf;
  border-bottom-color: #8c8296;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 0.5em;
  vertical-align: bottom;
}
table.listing thead th a {
  border: none;
  padding-right: 12px;
}
table.listing thead th a:link:hover, table.listing thead th a:visited:hover {
  background-color: transparent;
}
table.listing th.asc a, table.listing th.desc a {
  font-weight: bold;
}
table.listing th.asc a, table.listing th.desc a {
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
table.listing tbody td, table.listing tbody th {
  border: 1px dotted #88837c;
  padding: 0.33em 0.5em;
  vertical-align: top;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
  background-color: transparent;
}
table.listing tbody tr {
  border-top: 1px solid #a09c97;
}
table.listing tbody tr.odd {
  background-color: #fcfcfc;
}
table.listing tbody tr.even {
  background-color: #f7f7f7;
}
table.listing tbody tr:hover {
  background: #e8ede5 !important;
}
table.listing tfoot {
  background: #eae0d3;
}
table.listing tfoot td {
  border: 1px solid #ded0bf;
  border-bottom-color: #8c8296;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 0.5em;
  vertical-align: bottom;
}
table.listing td {
  text-align: center;
}
table.listing td.left {
  text-align: left;
}
table.listing td.right {
  text-align: right;
}
table.listing td.lnowrap {
  text-align: left;
  white-space: nowrap;
}
table.listing td.cnowrap {
  white-space: nowrap;
}
table.listing td.total {
  background-color: #e8ede5;
}
