!!! XML
!!! 1.1
%html(xmlns="http://www/w3.org/1999/xhtml")
  %head
    %title= @title
    %meta(http-equiv="Content-Style-Type" content="text/css")
    %meta(name="author" content="Nigel Garside")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    =(css 'screen')
  %body
    %h1= @title
    %div#content= @content
