!!! XML
!!! 1.1
%html{html_attrs('en-GB')}
  %head
    %meta{'http-equiv' => "Content-Type", :content => 'text/html; charset=utf-8'}
    %title= @title
    %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}
    -# note use of 'splat' operator, *, to expand array elements as method arguments
    = css_for(*(%w( reset text clearfix common minimal )))
  %body
    #layout
      #header.clearfix
        #logo
          %a{:href => '/'}
            %img{:src => '/images/dipperh.jpg', :alt => @title}

      #content= @content
