#footer
  %hr
  %p.left
    %a#id{:href => "http://www.bto.org/birdtrack/", :title => 'Go to BTO BirdTrack'}
      %img{:src => "/images/bt-footer-175w.gif", :alt => "BTO website"}
  %p.right Copyright &copy; Nigel Garside #{Time.now.year}
