/ header
#header
  %a{:id => 'logo', :href => '/', :title => 'Return to home page'}
    %img{:src => '/images/dipperh.jpg', :width => 110, :height => 94, :alt => 'Dipper'}
  %hr
/ end header

-#  =a('text', :img => '/images/dipperh.jpg')
