/ navigation
#navigation
  %ul
    %li
      %a{:href => MainController.r(:index), :title => 'Return to home page'} Home
    %li
      %a{:href => '/list', :title => 'A list' } List
    %li
      %a{:href => rs(:reports), :title => 'Choose a report to run'} Reports
      %ul
        %li
          %a{:href => rs('reports/reportid=summary_pg'),
             :title => 'Run summary report'} Petersone List
    %li
      %a{:href => MainController.r(:about)} About
    - if logged_in?
      - if user.is_admin
        %li
          %a{:href => AdminController.r} Admin
      %li
        %a{:href => SiteController.r} Sites
      %li
        %a{:href => MyListController.r(user.login)} My List
      %li
        %a{:href => AccountController.r(:logout)} Logout
    - else
      %li
        %a{:href => AccountController.r(:login)} Login
 
/ end navigation

