#navigation
  %ul
    %li
      %a{:href => MainController.r(:index)} Home
    %li
      %a{:href => '/list'} List
    - if logged_in?
      - if user.is_admin
        %li
          %a{:href => AdminController.r(:users)} Admin
      %li
        %a{:href => MyListController.r(user.login)} My List
      %li
        %a{:href => ListController.r(:by_user)} List by Observer
    %li
      %a{:href => ListController.r(:rarities)} Rarities
    %li
      %a{:href => ListController.r(:combined)} Combined List
    %li
      %a{:href => ReportController.r(:index)} Reports
    %li
      %a{:href => GraphController.r(:index)} Graphs
    %li
      %a{:href => MainController.r(:about)} About
    %li
      %a{:href => MainController.r(:technical_note)} Technical Note
    %li
      %a{:href => MainController.r(:whats_new)} What's New
    - if logged_in?
      %li
        %a{:href => AccountController.r(:logout)} Logout
    - else
      %li
        %a{:href => AccountController.r(:login)} Login
