%form{:method => 'post', :id => 'login_form', :action => 'login'}
  %fieldset
    %legend Login
    %br
    %label{:for => 'login'} Name
    %input#login{:type => 'text', :name => 'login'}
    %br
    %label{:for => 'password'} Password
    %input#password{:type => 'password', :name => 'password'}
    %br
    %br
    %input{:type => :submit, :value => 'Log-in Now', :class => :button}
#{flashbox}
