%form{:method => 'post', :id => 'login', :action => 'login'}
  %fieldset
    %legend Login
    %p
      Name
      %input{:type => 'text', :name => 'login'}
      Password
      %input{:type => 'password', :name => 'password'}
      Remember me
      %input{:type => 'checkbox', :name => 'remember', :checked => 'checked'} 
      %input{:type => :submit, :value => 'Log-in Now', :class => :button}
