/ form to edit user
%form{:action => route(:edit_user, :user_id=>@edit_user.user_id), :id=>'edit_user',
    :method=>'post'}
  %fieldset
    %legend= @legend
    %b= "User ID: #{@edit_user.user_id}"
    %br
    %label{:for=>'login'} 
      %b Login
    %input{:type=>'text', :id=>'login', :name=>'login', :value=>@edit_user.login}
    %label{:for=>'name'} 
      %b Name
    %input{:type=>'text', :id=>'name', :name=>'name', :value => @edit_user.name}
    %br
    %label{:for=>'is_admin'} 
      %b Administrator?
    %input{:type=>'checkbox', :id=>'is_admin', :name=>'is_admin',
      :checked=>@edit_user.is_admin}
    %br
    %br
    %input{:type=>'submit', :value=>@submit} &nbsp;
    %a{:href=> AdminController.r(:change_password,
      :user_id => @edit_user.user_id)} Change password
/ end of user form      
