%a{:href => MainController.route('/')} Home
%br
%br
%table.listing{:summary => @title}
  %caption= @caption
  %thead
    %tr
      %th Link
      %th Description
  %tbody
    - @reports.each do |r|
      %tr{:class => cycle}
        %td.left
          %a{:href => r['link']}
            =r['name']
        %td.left= r['desc']
