-# form to edit observation
%form#edit_list{:action=>route(:edit, :bto_code=>@bto_code), :method=>'post', :title=>@title}
  %fieldset
    %legend= @legend
    %h3= @ob.bird.name
    %br
    %label{:for=>'first_date'}
      %b Date
      (dd/mm/yyyy)
    %input#first_date{:type => 'text', :name => 'first_date',
      :value => @ob.first_date.strftime("%d-%m-%Y")}
    %input{:type=>'button', :value=>'change date',
      :onclick=>"displayCalendar(document.forms[0].first_date, 'dd-mm-yyyy', this)" }
    %br
    %label{:for=>'note'} Note
    %textarea#note{:name=>'note', :rows=>10, :cols=>35}
      = h(@ob.note).gsub("\n", '')
    %br
    %br
    %div
      %input{:type=>'submit', :value=>@submit}
      %input{:type=>'reset'}
      %button{:type=>'button', :name=>'Cancel',
        :onclick=> "window.location='#{MyListController.r(user.login)}'"}
        Cancel
