-# index.haml - MyListController default view
%div
  %table.listing{:summary => @title}
    %thead
      %tr
        - @headings.each do |h|
          %th= h
    %tbody
      - @sightings.each do |s|
        %tr{:class => cycle}
          %td= s.bto_code
          %td= s.bird.name
          %td= s.first_date
          %td
            %a{:id=>'edit',
              :href => route(:edit, :bto_code => s.bto_code)} Edit
            &nbsp;
            %a{:id=>'delete',
              :href=> route(:delete, :bto_code => s.bto_code)} Delete
  %br
  %a{:href=>route(:new)} Add New
