// Colours
$red:         #DD3322
$dark_red:    #B00000
$blue:        #336699
$dark_grey:   #555555
$light_grey:  #EEEEEE
$grey:        #BBBBBB
$pink:        #CD5C5C
$pale_yellow: #FFFEED
$medium_grey: #999999
$Brown:       #A52A2A
$taupe:       #EDB
$DarkRed:     #8B0000
$Brown:       #A52A2A

