@import url("reset.css")
@import colours
@import fonts

$wrapper_font_size: 1.3

// Layout widths
$content_width: 78%
$navigation_width:19%
$page_width_px: 800

/* General
html
  background: $background

body
  font-family: $sans_serif_fonts
  font-size: 62.5%
  // default text is 16px; now 1em = 10px
  text-align: center

h1, h2, h3, h4
  font-weight: bold
  letter-spacing: -0.05em
  margin: 28px 0 .25em 0

h1
  font-size: 2em

h2
  font-size: 1.6em

h3
  font-size: 1.4em

h4
  font-size: 1.2em

/* Layout Wrapper
#wrapper
  font-size: #{ $wrapper_font_size }em 
  width: #{ floor($page_width_px / $wrapper_font_size / 10 - 1) }em
  max-width: 95%
  margin: 1em auto
  text-align: left
  background: white
  border: 1px solid $border_light

/* Layout Content/Header
#content, #header-text
  float: right
  width: $content_width
  max-width: $content_width

#header
  height: 133px
  padding: 0.75em 0 0.75em 1em
  img
    height: 133px
    width: 160px
    float: left

#header-text
  margin-top: 1em
  h1
    float: left
    font-size: 2.2em
    font-family: $serif_fonts
    margin: 0
  p.right
    float: right
    margin-top: 13px
    height: 2.2em
    font-size: 0.9em
    color: $light_text
    padding-right: 1em

#content-inner
  padding: 0px 15px 0 15px

/* Layout Navigation
#navigation
  float: left
  width: $navigation_width
  max-width: $navigation_width
  margin: 0 0em 0 1em

/* Layout Footer
#footer
  clear: both
  padding: 10px 15px 10px 15px
  height: 5em
  font-size: 0.75em
  color: $light_text
  p
    &.left
      position: absolute
    &.right
      float: right

// Navigation 
#navigation
  background-color: $menu_background
  border: 1px solid $border_dark
  font-weight: normal
  ul
    list-style: none
    margin: 0.4em
    padding: 0
    ul
      margin: 0 0 0 1em
  a
    border-bottom: none


a
  &:link
    color: $link
  &:visited
    color: $visited

#navigation
  a
    &:link, &:visited
      text-decoration: none
    &:link:hover, &:visited:hover
      text-decoration: underline

#textnote
  h3
    margin-top: 0 
  p
    margin: 1em 0 1em 0
  ul
    li
      margin: 0.5em 0 0.5em 0
hr
  color: $border_dark
  background-color: $border_light
  height: 1px
  border-width: 0

p.reportnote
  font-size: 0.9em
  color: $light_text

dl.whatsnew
  margin: 1em 0
  padding: 0
  dt
    position: relative
    left: 0
    top: 1.2em
    width: 6em
    font-weight: bold
    white-space: nowrap

  dd
    //border-left: 1px solid #000
    margin: 0 0 0 7em
    padding: 0 0 .5em .5em
