#textnote
  %h3 About Peterstone Birds
  %p
    Peterstone Birds is a way of compiling a list of bird species seen in the vicinity of Peterstone Gout, roughly encompassed by Ordnance Survey  kilometre grid square ST2780.
  %p
    The Curlew woodcut used in the page header is by Thomas Bewick, and is from his <i>A History of British Birds, Volume II, Water Birds</i> first published in 1804.
