#textnote
  %h3 About Peterstone Birds
  %p
    Peterstone Birds is a way of compiling a list of bird species seen in the vicinity of Peterstone Gout, roughly encompassed by Ordnance Survey  kilometre grid square ST270.
