%table.listing
  %thead
    %tr
      %th{:colspan=>'2'} Summary
  %tbody
    %tr
      %td.left Number of species
      %td= @bird_count
    %tr
      %td.left Latest sighting
      %td=@bird_latest.bird.name
    %tr
      %td
      %td= @bird_latest.first_date.strftime("%e %B %Y")
    %tr
      %td
      %td= @bird_latest.user.user_id
