/ Start of summary
%table.listing{:style=>'width: 500px'}
  %thead
    %tr
      %th{:colspan=>'2'} Summary
  %tbody
    %tr
      %td.left{:style=>'width: 250px'} Number of species
      %td{:style=>'width:250px'}= @bird_count
    %tr
      %td.left Latest sighting
      %td=@bird_latest.bird.name
    %tr
      %td
      %td= @bird_latest.first_date.strftime("%d-%m-%Y")
    %tr
      %td
      %td= @bird_latest.user.name
/ end of summary

