#textnote
  %h3 Technical Note
  %p
    Peterstone Birds uses the following technologies:
  %ul
    %li 
      %a{:href=>'http://heroku.com/'} Heroku
      is a cloud application platform for Ruby. Based in San Francisco it has over 84,000 applications running on its service.
    %li 
      %a{:href=>'http://ruby-lang.org/en/'} Ruby
      was created in 1995 by Yukihiro "matz" Matsumoto by blending parts of various languages, such as Perl, Smalltalk, Eiffel, Ada, and Lisp.
    %li 
      %a{:href=>'http://rack.rubyforge.org/'} Rack
      is the Ruby webserver interface used by Heroku, and is typically used with the Ruby on Rails web framework, although there are many other supported frameworks, including Ramaze which is used by Peterstone Birds.

    %li 
      %a{:href=>'http://ramaze.net'} Ramaze
      is a modular web framework, which enables it to work with a variety of templating engines, web adapters and database toolkits.
    %li 
      %a{:href=>'http://haml-lang.com/'} Haml
      is a mark-up language and templating engine which generates HTML, including dynamic content.
    %li
      %a{:href=>'http://postgresql.org/'} PostgreSQL
      is the relational database system provided by Heroku, and after 15 years active development claims to be 'the world's most advanced open source database'.
    %li 
      %a{:href=>'http://sequel.rubyforge.org/'} Sequel
      is a Ruby database toolkit with a concise Domain Specific Language and a comprehensive Object-Relational Mapping layer for mapping database records to Ruby objects.
    %li 
      %a{:href=>'http://github.com/'} github
      is an online project hosting service which is free for public open-source code. The source code for this application can be viewed at 
      %a{:href=>'http://github.com/garsiden/Peterstone-Birds'} Peterstone-Birds
      \.
    %li
      %a{:href=>'http://git-scm.com/'} git
      is an extremely fast, efficient, distributed version control ideal for the collabrative development of software. Git can be used to download the Peterstone-Birds source code from git://github.com/garsiden/Peterstone-Birds.git.
      %li
        %a{:href=>'http://nubyonrails.com/pages/gruff'} Gruff
        is a Ruby Graphing Library written by Geoffrey Grosenbach.
