%b Technical Note
%ol
  %li Heroku - cloud computing
  %li Ruby
  %li Rack
  %li Ramaze
  %li Sequel
  %li Haml
  %li PostgreSQL
  %li Git
  %li github

%br
%a{:href=>'http://heroku.com/'} Heroku
%br
%a{:href=>'http://ramaze.net'} Ramaze
%br
%a{:href=>'http://ruby-lang.org/en/'} Ruby
%br
%a{:href=>'http://rack.rubyforge.org/'} Rack
%br
%a{:href=>'http://haml-lang.com/'} Haml
%br
%a{:href=>'http://postgresql.org/'} PostgreSQL
%br
%a{:href=>'http://git-scm.com/'} git
%br
%a{:href=>'http://github.com/'} github
